textarea {
  width: 500px;
  height: 200px;
  margin: auto;
  display: block;
}

.inline,
.inline:active,
.inline:hover,
.inline:focus {
  width: 70px;
  display: inline-block;
  margin: 0 10px;
  background: #232323;
  color: #017bfe;
  border: none;
  border-bottom: 1px solid #017bfe;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-appearance: none;
  box-shadow: none;
  text-align: center;
  padding-left: 0;
}

.inline.long {
  width: 300px;
}

body {
  background: black;
  color: #e3e3e3;
  padding-top: 100px;
}

.react-datepicker__input-container,
.react-datepicker-wrapper {
  width: 100%;
}

.table-container {
  margin: 30px auto;
  background-color: #232323;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

tr:nth-child(even) {
  background-color: #484848;
}

th {
  padding: 10px 20px;
  text-align: center;
  background: #017bfe5c;
  color: white;
}

td {
  text-align: center;
}

.queries {
  width: 900px;
  margin: auto;
  padding: 10px;
  background: #232323;
  border: 1px solid;
}

.queries button {
  float: right;
}

.query {
  margin: 10px 0;
}
